---
layout: top
---

<h2>イントロダクション</h2>

<ul>
  <li><a href="pages/overview/">概要</a></li>
  <li><a href="pages/option/">オプション</a></li>
</ul>

<h2>Shapes</h2>
<ul>
  <li><a href="pages/shapes-circle/">Circle</a></li>
  <li><a href="pages/shapes-rect/">Rect</a></li>
  <li><a href="pages/shapes-line/">Line</a></li>
  <li><a href="pages/shapes-text/">Text</a></li>
</ul>

<h2>Groups</h2>
<ul>
  <li><a href="pages/groups-sin/">sin</a></li>
  <li><a href="pages/groups-cos/">cos</a></li>
  <li><a href="pages/groups-tan/">tan</a></li>
</ul>