<head>
  <title><%= file.data.title %> | Somali</title>
  <script src="../../js/somali.js"></script>
  <script src="../../venders/highlight/highlight.pack.js"></script>
  
  <link rel="stylesheet" href="../../venders/highlight/atom-one-dark.css">
  <link rel="stylesheet" href="../../css/default.css">
</head>
<body class="page">
  <article>
    <h1><%= file.data.title %></h1>
    <%- file.contents %>
  </article>

  
  <%_ if (file.data.js) { for (let js of file.data.js) { _%>
    <script src="<%= js %>"></script>
  <%_ }} _%>
  <script>hljs.initHighlightingOnLoad();</script>
</body>