<head>
  <title><%= file.data.title %></title>
  <script src="../js/somali.js"></script>
  <script src="../js/highlight.pack.js"></script>
  <link rel="stylesheet" href="../css/highlight/default.css">
</head>
<body class="page">
  <%- file.contents %>

  <script>hljs.initHighlightingOnLoad();</script>
  <%_ if (file.data.js) { for (let js of file.data.js) { _%>
    <script src="<%= js %>"></script>
  <%_ }} _%>
</body>