---
title: test
js: 
  - main.js
---
Graph1
<div id="graph1"></div>
Graph2
<div id="graph2"></div>

<br><br>


<pre><code class='language-javascript' lang='javascript'>console.log(&quot;hoge&quot;);
</code></pre>
<p>&nbsp;</p>
